/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.header {
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-1 {
  padding-left: 30px;
}
.list-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-items > ul > li {
  display: inline;
  padding-right: 30px;
}
.logo-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* Insta icon */
a img {
  height: 16px;
  padding-right: 40px;
}
