/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
/* navbar */
.header {
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbar {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
}
.link-1 {
  font-size: 24px;
  color: #4a4a4a;
  font-weight: 400;
  padding-left: 30px;
}
.list-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-items > ul > li {
  display: inline;
  padding-right: 30px;
}
li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #4a4a4a;
}
.logo-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* Insta icon */
a img {
  height: 16px;
  padding-right: 40px;
}
/* hero */
.hero {
  background-image: url(/resources/images/banner-landingpage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 43.5rem;
}
.signup {
  width: 570px;
  height: 370px;
  background-color: #9dc20a;
  border: 1px solid #979797;
  border-radius: 4px;
  margin-top: 170px;
  margin-bottom: 170px;
  margin-left: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.p-1 {
  color: #fff;
  font-family: "Damion", cursive;
  font-size: 2.25rem;
  margin-top: 32px;
}
h1 {
  color: #fff;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.request {
  width: 70%;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 26px;
  display: inline-block;
  text-align: center;
  line-height: 1.4;
}
strong {
  font-weight: bold;
}
.btn {
  background-color: #4a4a4a;
  width: 408px;
  height: 64px;
  border-radius: 4px;
  margin-bottom: 56px;
  margin-left: 80px;
  margin-right: 80px;
}
.btn-text {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.4;
}
/* second section */
.section-2 {
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
}
.feature-1,
.feature-2 {
  background-color: #fff;
  width: 640px;
  height: 750px;
}
.feature-1 {
  margin: 64px 19px 46px;
}
.feature-2 {
  margin: 64px 19px 46px;
}
.feature-1 > img {
  width: 90%;
  height: 65%;
  margin: 32px 32px 40px 32px;
}
.feature-2 > img {
  width: 90%;
  height: 65%;
  margin: 32px 32px 40px 32px;
}
.description {
  height: 187px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description > h3 {
  font-size: 2.25rem;
  color: #4a4a4a;
  font-weight: 700;
  line-height: 1.2;
}
.description > p {
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
}
/* third section */
.section-3 {
  height: 500px;
  background-color: #4a4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 64px;
  margin-bottom: 40px;
}
.content > h2 {
  color: #fff;
  opacity: 100%;
  font-size: 2.25rem;
  font-weight: 700;
}
.content > p {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 300;
}
.gallery {
  height: 236px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 1% 64px 1%;
}
.gallery > img {
  height: 236px;
  width: 251px;
}
